ul {
    list-style:none;
    font-weight:300;
}

body{
    margin:0px;
    padding:0px;
    font-family:A;
    font-weight:800;

}

header {
        display:flex;
        justify-content:space-between;
        align-items:center;
        background-color:#2c3e50;
        color: #ffffff;
        padding:10px;
        z-index:0;    
}

.logo { 
    width:50px;

}

.title{
    font-size:24px;
    font-weight:bold;    
}


.menu-btn {
     cursor: pointer;    
}

.menu-btn span{
    display:block;
    width:30px;
    height:5px;
    background-color:#fff;
    margin-bottom: 5px;
    border-radius:3px;
}

aside{

    position:fixed; /*Se desligue de todo el contenido de la web. */
    top:0px;
    left:-250px;
    width:250px;
    height:100%;
    background-color:#2c3e50;
    z-index:1;
    color:white;
    padding:20px;
    transition:all 0.3s ease-in-out;
    overflow-y:auto;
}

aside.active{
    left:0;
}

nav ul{
    padding:0px;
    margin:20px;
}

nav ul li {
    margin-bottom: 10px;

}

nav ul li > a:hover{
    color:white;
    text-decoration:underline;
}

nav ul li a{text-decoration:none;
            color:white;
}
